@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model KangarooParty.Models.CreatePartyModel
    <h1>Create a Party!</h1>

    <form method="post">
        <div class="mb-3 row">
            <label for="host" class="col-sm-2 col-form-label">Host</label>
            <div class="col-sm-10">
                <select asp-for="HostId" asp-items="ViewBag.Kangaroos" required class="form-control"></select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>

}