@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model KangarooParty.Models.CreateKangarooModel
    <h1>Create a Kangaroo</h1>

        <form method="post">
            <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" required class="form-control" asp-for="Name">
                    </div>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
}

